.outerWrap {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;

  .imgWrap {
    width: 15vw;
    overflow: hidden;
    border: 5px solid #ad7a51;

    img {
      height: 100%;
    }
  }

  h2 {
    font-family: "Playfair Display", serif;
    color: #ad7a51;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .inputField {
    input {
      width: 20vw;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
    }
  }

  button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: #ad7a51;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 200ms linear;
    margin-top: 1rem;
    cursor: pointer;
  }
}

.SeatPickerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .line {
    position: relative;
    div {
      position: relative;
      width: 2vw !important;
      height: 2vw !important;
      margin-right: 0.5rem;
      border-radius: 50%;
      background-color: #b08058 !important;
      display: inline-block;
      cursor: not-allowed;
      transition: all 200ms linear;
    }

    input {
      position: absolute;
      z-index: 10;
      opacity: 0;
      height: 2vw;
      width: 2vw;
      cursor: pointer;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 2vw;
      width: 2vw;
      background-color: white;
      border: 1px solid #b08058;
      border-radius: 50%;
    }

    div:hover input ~ span {
      background-color: lightgray;
    }

    div input:checked ~ span {
      background-color: gray !important;
    }
  }

  .thisSeatIsTaken {
    background-color: #b08058 !important;
    cursor: not-allowed !important;
  }

  .stage {
    margin: 2rem 0;
    padding: 0.5rem 0;
    width: 80%;
    background-color: #ad7a51;
    text-align: center;
    color: white;
  }
}

@media only screen and (max-width: 500px) {
  .outerWrap {
    display: block !important;

    .imgWrap {
      width: 100%;
      overflow: hidden;
      border: 5px solid #ad7a51;

      img {
        height: 100%;
      }
    }
    .inputField {
      input {
        width: 80vw;
      }
    }
    .line {
      div {
        width: 8vw !important;
        height: 8vw !important;
        margin-right: 0.5rem;
        border-radius: 50%;
        background-color: #b08058 !important;
        display: inline-block;
        cursor: not-allowed;
        transition: all 200ms linear;
      }

      input {
        position: absolute;
        z-index: 10;
        opacity: 0;
        height: 8vw;
        width: 8vw;
        cursor: pointer;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 8vw;
        width: 8vw;
        background-color: white;
        border: 1px solid #b08058;
        border-radius: 50%;
      }

      div:hover input ~ span {
        background-color: lightgray;
      }

      div input:checked ~ span {
        background-color: gray !important;
      }
    }
  }
}
