@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

.nav {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  ul {
    display: flex;
    justify-content: space-around;

    li {
      margin: 2rem 0 0 4rem;
      list-style: none;

      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        font-weight: 400;
      }

      a:hover,
      button:hover {
        color: rgb(94, 94, 94);
      }

      button {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        margin-top: 0.4rem;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}
